trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infra/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  TF_VERSION: '1.6.6'
  WORKING_DIR: 'infra'

stages:
- stage: Terraform
  displayName: 'Terraform Infrastructure'
  jobs:
  - job: Deploy
    displayName: 'Plan and Apply Infrastructure'
    steps:

    - checkout: self

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(TF_VERSION)

    - task: TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: $(WORKING_DIR)
        backendServiceArm: 'azure-conn'
        backendAzureRmResourceGroupName: 'terraform-state-rg'
        backendAzureRmStorageAccountName: 'funmilayotfstate29073'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'infra.tfstate'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: $(WORKING_DIR)
        environmentServiceNameAzureRM: 'azure-conn'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Apply'
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: $(WORKING_DIR)
        environmentServiceNameAzureRM: 'azure-conn'
        args: '-auto-approve'
